<nav class="navbar navbar-inverse navbar-fixed-top color">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><i class="fa fa-users">Admin panel</i></a>
        </div>
        <ul class="new navbar-nav navbar-right">
            <li><a href="{% url 'home' %}"><i class="fa fa-home">Home </i></a></li>
            <li><a href="{% url 'login' %}"><i class="fa fa-user">Login </i></a></li>
            <li><a href="{% url 'register' %}"><i class="fa fa-users">Register </i></a></li>
        </ul>
    </div>
</nav>